{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recuperar Contraseña{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles3.css' %}">
    <link rel="stylesheet" href="{% static 'css/cargar.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/Condominio.ico' %}">
</head>
<body>

    <div id="loading-screen">
        <div class="spinner"></div>
    </div>
    
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success mt-3">{{ message }}</div> <!-- Success message in green -->
        {% else %}
            <div class="alert alert-danger mt-3">{{ message }}</div> <!-- Error message in red -->
        {% endif %}
    {% endfor %}
    {% endif %}

    <div class="login-container">
        <div class="recovery-header">
            Recuperar Contraseña
        </div>
        
        <!-- Formulario de recuperación -->
        <form method="post" action="{% url 'condominio:recuperar_contraseña' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa tu correo" required>
            </div>
            <button type="submit" class="btn btn-custom w-100">Enviar</button>
        </form>
        
        <!-- Mensajes de estado -->
        <div class="mt-3 text-center">
            {% if messages %}
                <div class="alert alert-info mt-3">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mt-3 text-center">
            <small class="text-muted">Introduce tu correo para recibir un enlace de recuperación.</small>
        </div>
    </div>

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Ocultar la pantalla de carga cuando el DOM esté completamente cargado
        window.addEventListener('load', function () {
            document.getElementById('loading-screen').style.display = 'none';
        });
    </script>
</body>
</html>